@import "../Styles/mixins.scss";
.cartcontent {
    @include box(max-width, 89.4vh, border-box);
    @include flex(column, flex-start, flex-start);
    font-family: Roboto;
    margin: 0 15.5%;
    padding: 30px;
    .mycart {
        margin-top: 20px;
        font-size: 20px;
    }
    .Home{
        top: 79px;
        left: 219px;
        width: 60px;
        height: 16px;
        text-align: left;
        font: normal normal normal 18px/24px Roboto;
        letter-spacing: 0px;
        color: #0A0102;
        opacity: 1;
    }
    .cartitems {
        .part1 {
            @include flex(row, space-between, center);
            .container {
                width: auto;
                @include flex(row, space-between, center);
                .items {
                    padding: 10px;
                    .author {
                        font-size: 15px;
                        color: #878787;
                        padding-bottom: 8px;
                    }
                    .price {
                        padding-bottom: 5px;
                    }
                    .inlineicons {
                        padding: 5px 0;
                        @include flex(row, flex-start, center);
                        .quantity {
                            width: 34px;
                            height: 23px;
                            text-align: center;
                            border: 1px solid #878787;
                            margin: 0 3px;
                        }
                        .remove{
                            padding: 0 10px;
                        }
                    }
                }
            }
            img {
                width: 60px;
                height: 80px;
                margin-right: 20px;
            }
            Button {
                align-self: flex-end;
                background-color: #3371B5;
                color: white;
            }
        }
    }
    .box {
        width: 90%;
        height: auto;
        border: 1px solid #878787;
        padding: 15px;
        margin-bottom: 20px;
        margin: 20px 0px;
    }
   .customerdetails{
       @include flex(column,flex-start,flex-start);
       .addressfield{
           width: 480px;
           @include flex(row,space-between,center);
           flex-wrap: wrap;
           
       }
       Button{
           align-self: flex-end;
           background-color: #3371B5;
           color: white;
       }
   }
}
@media only screen and (max-width: 360px) {

    .cartitems {
        .part1 {
            @include flex(row, space-between, center);
            .container {
                width: auto;
                @include flex(row, space-between, center);
                .items {
                    padding: 10px;
                    .author {
                        font-size: 15px;
                        color: #878787;
                        padding-bottom: 8px;
                    }
                    .price {
                        padding-bottom: 5px;
                    }
                    .inlineicons {
                        padding: 5px 0;
                        @include flex(row, flex-start, center);
                        .quantity {
                            width: 34px;
                            height: 23px;
                            text-align: center;
                            border: 1px solid #878787;
                            margin: 0 3px;
                        }
                        .remove{
                            padding: 0 10px;
                        }
                    }
                }
            }
            img {
                width: 60px;
                height: 80px;
                margin-right: 20px;
            }
            Button {
                margin-right: 20px;
                align-self: flex-end;
                background-color: #3371B5;
                color: white;
            }
        }
    }
    .box {
        width: 300px;
        height: auto;
        border: 1px solid #878787;
        padding: 15px;
        margin-bottom: 20px;
        margin: 20px 0px;
    }
   .customerdetails{
       @include flex(row,flex-start,flex-start);
       .addressfield{
           width: 480px;
           @include flex(row,space-between,center);
           flex-wrap: wrap;
           
       }
       Button{
           align-self: flex-end;
           background-color: #3371B5;
           color: white;
       }
   }
   .cartcontent {
       width: 100%;
   }
   .appbar {  
    width: 118vw;
   }
}
