*{
    margin: 0;
    padding: 0;
    width: auto;
}
.root{
     
      margin: spacing(1);
      
    }
    .MuiBadge-anchorOriginTopRightRectangle{
        transform: unset !important;
    }
    .MuiBadge-colorSecondary {

         color: #A03037 !important;
         background-color: white !important;
         top: 5px !important;
        
         width: 10px !important;
        
       
    }
.appbar {
    width: 100%;
    height: 70px;
    background-color: #a03037;
    box-shadow: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    div {
        display: flex;
        img {
        width: 25px;
        height: 30px;
    }
    p {
        color: white;
        padding-left: 5px;
        font-size: 20px;
        width: auto;
       
    }}
    .input{
        display: none;
        width: 400px;
        height: 29px;
        border-radius: 3px;
        align-content: center;
        background: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 3px;
        flex-grow: 0;
        margin-left: 20px;
        .searchicon{
            color: grey;
        }
        input{
           height: 29px;
           outline: none;
           border-radius: 3px;
           border: none;
           
        }
    }
    div{
        padding: 0 25px;
    .pro{
        color: white;
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: auto;
        .proicon{
            color: white;
        }
    }
    .cart{ 
        padding: 10px;
        color: white;
        display: flex;
        flex-direction: column;
        width: auto;
        .carticon{
        color: white;
        }
    }}
  .wishlist{
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 20px;

  }
   
}
@media only screen and (max-width: 360px) {
    .appbar {  
         width: 115vw;  
        div {
            img {
            width: 30px;
            height: 30px;
        }
        p {
            color: white;
            padding-left: 5px;
            font-size: 20px;
            width: auto;
           
        }}
        .input{
           
            display: none;
            
            input{
               height: 29px;
               outline: none;
               border-radius: 8px;
               border: none;
              
               
            }
        }
      
        div{
            display: flex;
            flex-direction: initial;
          
        .pro{

            color: white;
            display: flex;
            flex-direction: column;
            width: 5%;

            .proicon{
             color: white;

            }
        }
        .cart{
            color: white;
            display: flex;
            flex-direction: column;
            margin-left: 55px;

            .carticon{
            color: white;
          
            
            }
        }
    }
    
}
   
.btn1 {
        border: 1px solid grey;
        width: 100px;
        cursor: pointer;

 }
}
.MuiPopover-paper{
    width: 25% !important;
}
.MuiMenuItem-root{
    margin-left: 70px !important;
    height: 50% !important;
}

.visible {
    width: 20px;
    height: 60px;
    overflow: visible ;
     margin-left: 70px !important;
}
.new{
    border: 1px solid red;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.popup{
    display: flex;
    flex-direction:row;
    margin-left: 30px;
}